
@{
    ViewData["Title"] = "PolicyInfoManageResult";
    Layout = null;
}
<style type="text/css">
</style>
@model List<FengKong.Models.PolicyInfoModel>

<table class="table table-striped table-bordered">
    <tr role="row">
        <th>app_id</th>
        <th>event_code</th>
        <th>policy_code</th>
        <th>field</th>
        <th>max_size</th>
        <th>time_slice</th>
        <th>操作</th>
    </tr>
    @foreach (var policy in Model)
    {


        <tr>
            <td>@policy.app_id</td>
            <td>@policy.event_code</td>
            <td>@policy.policy_code</td>
            <td>@string.Join(",", policy.field)</td>
            <td>@policy.max_size</td>
            <td>@policy.time_slice</td>
            <td><a class="btn btn-success" href="/EventManage/PolicyInfoEdit?appid=@policy.app_id&eventcode=@policy.event_code&policycode=@policy.policy_code">修改策略</a></td>
        </tr>

    }
</table>
